.above-line {
  position: absolute;
  left: -50%;
  width: 80%;
  height: 3px;
  background: linear-gradient(to right, rgba(207, 207, 207, 0.05), var(--primary-accent));
  top: 0;
}

.below-line {
  position: absolute;
  right: -50%;
  width: 80%;
  height: 3px;
  background: linear-gradient(to left, rgba(207, 207, 207, 0.3), var(--primary-accent));
  bottom: 1px;
}

@media (max-width: 600px) {
  .above-line,
  .below-line {
    width: 50%;
  }

  .above-line {
    left: -25%;
  }

  .below-line {
    right: -25%;
  }
}
